ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
li {
  float: left;
}

li a {
  display: block;
  color: cyan;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a: hover {
  background-color: cyan;
}

h1 {
  color: red;
}
p {
  color: green;
}
p2{
  color: red;
}